<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>哇哈哈哈！是不是從今天開始就可以跟朋友炫耀我會建立後端還境了 xdddd</p>
  </body>
</html>
